<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
        <script src="../basic_setting.js"></script>
        <script src="../table_of_contents.js"></script>
        <script src="../content/paragraphs.js"></script>
        <script src="../content/chapter_1.js"></script>
        <title></title>
    </head>
    <body>
        <div id="block"></div>
    </body>
</html>
<script>    
$(function() {
    Object.keys(CHAPTERS).forEach(function (chapter) {
        let insert = `<div id="main_content_${chapter}">${CHAPTERS[chapter]}</div>`;
        
        let display_p = [];
        paragraphs[chapter].forEach(function (paragraph) {
            p = '&nbsp;&nbsp;&nbsp;&nbsp;' + paragraph.join('');
            display_p.push(p);
        });
        insert += '<div>' + display_p.join('<br><br>') + '</div>';

        $('#block').append(insert);
    });
});

</script>